@model Category

<div class="container text-center w-75 mx-auto">
<h1>@Model.Name</h1>

<div class="row">

<div class="d-flex  mt-5">
    <div class='col-6'>
        <h3>Product</h3>
        <ul style='list-style:none'>
            @{
                foreach(Relation r in Model.Relationships)
                {
                    <li>@r.Product.Name</li>
                }
            }
        </ul>
    </div>

    <div class='col-6'>
        <h3>Add a Product</h3>
<form method="post" asp-action="AddProdToCat" asp-controller="Category">
            <select name="ProductId">
                @{
                    foreach (Product p in ViewBag.productlist)
                    {
                        <option value='@p.ProductId'>@p.Name</option>
                    }
                }
            </select>
            <input type="hidden" name="CategoryId" value="@Model.CategoryId">
        <button type="submit">Add</button>
</form>      
</div>
    </div>
</div>
    


</div>